# Developer-specific build parameters.
# Copy this file into 'devel.mk' and edit.

# Current Operator version
VERSION=0.0.1

# Run in developer mode
DEVELOPER=1

# Image URL to use all building/pushing image targets
TAG=latest
IMG=quay.io/quayusername/samba-operator:$(TAG)
