# Developer-specific build parameters.
# Copy this file into 'devel.mk' and edit.

# Current Operator version
VERSION=0.0.1

# Run in developer mode
DEVELOPER=1

# Use OpenShift's Client CLI
# KUBECTL_CMD=oc

# Image URL to use all building/pushing image targets
TAG=latest
IMG=quay.io/quayusername/samba-operator:$(TAG)

# Custom developer targets
.PHONY: image
image: docker-build docker-push

# When using custom targets, you should also define '.DEFAULT_GOAL'
.DEFAULT_GOAL:=all
