# This patch inject a sidecar container which is a HTTP proxy for the
# controller manager, it performs RBAC authorization against the Kubernetes API using SubjectAccessReviews.
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
spec:
  template:
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                - key: beta.kubernetes.io/arch
                operator: In
                values:
                  - amd64
      containers:
        - name: kube-rbac-proxy
          # this is apparently the same code as
          # https://github.com/brancz/kube-rbac-proxy/
          # but build by/for kubebuilder. The brancz repo also has

          # newer releases but v0.8 is the latest at this repo
          # according to skopeo on 2021-11-06.
          image: gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0
          args:
            - "--secure-listen-address=0.0.0.0:8443"
            - "--upstream=http://127.0.0.1:8080/"
            - "--logtostderr=true"
            - "--v=10"
          ports:
            - containerPort: 8443
              name: https
        - name: manager
          args:
            - "--metrics-addr=127.0.0.1:8080"
            - "--enable-leader-election"
          env:
            - name: SAMBA_OP_POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: SAMBA_OP_POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: SAMBA_OP_POD_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
